%h1 Profiles#show

%p Email: #{@user.email}
%p Username: #{@user.username}

- if @latest_daily_post
  %div
    最新の投稿：#{@latest_daily_post.posted_on}
    %br
    = simple_format(@latest_daily_post.content)
- else
  %p まだ投稿がありません。

- if user_signed_in?
  = button_to "ログアウト", destroy_user_session_path, method: :delete

- if user_signed_in? && current_user == @user
  %p
    %strong 🌟🌟🌟 これはあなたのプロフィールです 🌟🌟🌟
  %p
    = link_to "＋", new_daily_post_path
