%div.bg-white.shadow-md.rounded-lg.px-8.py-8
  %h2.text-2xl.font-bold.mb-6.text-center Edit Profile
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f|
    = render "devise/shared/error_messages", resource: resource

    .mb-4
      = f.label :public_profile, "公開設定", class: "block mb-2"
      %div.flex.items-center.gap-2
        = f.check_box :public_profile, { class: "sr-only", id: "toggle-public-profile" }
        %label{ for: "toggle-public-profile", class: "relative" }
          %span.block.w-16.h-8.bg-gray-300.rounded-full
          %span.toggle-dot.absolute.left-0.top-0.w-8.h-8.bg-white.rounded-full.shadow-md
        %span#public-profile-label= resource.public_profile? ? "公開" : "非公開"

    .mb-4
      = f.label :avatar, "Profile Image", class: "block text-gray-700 mb-2"
      = f.file_field :avatar

    .mb-4
      = f.label :display_name, "Display Name", class: "block text-gray-700 mb-2"
      = f.text_field :display_name, class: "border rounded w-full px-3 py-2"

    .mb-4
      = f.label :profile_message, "Profile Message", class: "block text-gray-700 mb-2"
      = f.text_area :profile_message, rows: 3, class: "border rounded w-full px-3 py-2"

    .mb-4
      = f.label :email, class: "block text-gray-700 mb-2"
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "border rounded w-full px-3 py-2"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div.text-sm.text-yellow-700.mb-2
        Currently waiting confirmation for: #{resource.unconfirmed_email}

    .mb-4
      = f.label :password, class: "block text-gray-700 mb-2"
      %span.text-xs.text-gray-500.ml-1 (leave blank if you don't want to change it)
      - if @minimum_password_length
        %em.text-xs.text-gray-500.ml-2 (#{@minimum_password_length} characters minimum)
      = f.password_field :password, autocomplete: "new-password", class: "border rounded w-full px-3 py-2"

    .mb-4
      = f.label :password_confirmation, class: "block text-gray-700 mb-2"
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "border rounded w-full px-3 py-2"

    .mb-4
      = f.label :current_password, class: "block text-gray-700 mb-2"
      %span.text-xs.text-gray-500.ml-1 (we need your current password to confirm your changes)
      = f.password_field :current_password, autocomplete: "current-password", class: "border rounded w-full px-3 py-2"

    .mb-6
      = f.submit "Update", class: "bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"

  .text-sm.mt-4
    = link_to "Back", :back, class: "text-blue-500 hover:underline"
