- page_title= t('.page_title', name: @user.display_name_or_username)
%div.bg-white.shadow-md.rounded-lg.px-8.py-8.relative
  %h1.text-2xl.font-bold.text-gray-700.mb-8.text-center= page_title
  %div.flex.flex-col.items-center
    = avatar_for(@user, size: 80, css: 'mb-4')
  - if user_signed_in? && current_user == @user
    %div.mb-8.text-center
      %strong.text-yellow-600.text-lg= t('.welcome', name: current_user.display_name_or_username)
    %div.absolute.top-8.right-8
      %div#new-post-button
        = render 'activities/new_post_button', posted_today: current_user.posted_today?
      = turbo_frame_tag 'modal'
  = turbo_frame_tag 'calendar', data: { turbo_cache: 'false' } do
    = render 'calendar',
      user: @user,
      calendar_days: @calendar_days,
      daily_posts_by_date: @daily_posts_by_date,
      prev_month: @prev_month,
      next_month: @next_month,
      month_label: @month_label
  - can_view_posts = @user.public_posts? || (user_signed_in? && current_user == @user)
  = turbo_frame_tag 'latest_post' do
    - if can_view_posts
      = render 'activities/latest_post', post: @latest_daily_post
    - else
      %div.flex.flex-col.items-center.justify-center.h-32.bg-gray-50.rounded-lg.shadow-inner
        %span.text-gray-400= t('.private')
  %div.text-xs.text-gray-400.text-center.mt-8= t('.footer', year: Time.current.year)
