= turbo_frame_tag "modal" do
  %div.modal-container.fixed.inset-0.z-40.flex.items-center.justify-center.ml-64.backdrop-blur-sm{ 
    data: { controller: "modal-animation" } }
    %div.bg-white.shadow-lg.rounded-lg.px-8.py-8.w-full.max-w-3xl.mx-4.relative
      %button.absolute.top-2.right-2.text-gray-400.text-xl{ type: "button",
        onclick: "document.getElementById('modal').innerHTML = ''" } ×
      %h1.text-2xl.font-bold.mb-8.text-center 今日何をした？
      %div.text-sm.text-gray-500.text-right.mb-2
        あと
        = @daily_post.edit_remaining_count
        回編集できます。
      = turbo_frame_tag "form_errors" do
        = render "form_errors", daily_post: @daily_post
      = render "form"
