%div.bg-white.shadow-md.rounded-lg.px-8.py-8.relative
  %h1.text-2xl.font-bold.mb-6.text-center= "#{current_user.username}'s Posts"
  %div.absolute.top-8.right-8
    = link_to "＋", new_daily_post_path, data: { turbo_frame: "modal" },
        class: "inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full text-xl"
  = turbo_frame_tag "modal"
  = form_with url: daily_posts_path, method: :get, local: true, class: "mb-4 flex justify-center space-x-2" do |f|
    = f.text_field :q, placeholder: "キーワード検索", value: params[:q], class: "px-4 py-2 border border-gray-300 rounded-md w-64"
    = f.select :year, options_for_select((2024..Date.today.year).to_a.reverse, params[:year]), { prompt: "年" }, class: "px-2 py-2 border border-gray-300 rounded-md"
    = f.select :month, options_for_select((1..12).to_a.map { |m| [m, m] }, params[:month]), { prompt: "月" }, class: "px-2 py-2 border border-gray-300 rounded-md"
    = f.submit "検索", class: "px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
  = pagy_nav(@pagy).html_safe
  %ul.space-y-6
    - @daily_posts.each do |post|
      = render "post", post: post
  = pagy_nav(@pagy).html_safe
